#doacao .titulo-bg{
    background-color: #ffffff;
}

.doacao-bg{
 background-color: var(--cor-2);
 position: relative;
}

.doacao{
   max-width: 800px;
   margin: 0 auto;
   padding-top: 120px;
   padding-bottom: 120px;
}

.doacao-detalhe{
    text-align: center;
    margin-bottom: 20px;
}

.doacao h2{
    text-align: center;
    margin-bottom: 24px;
}

.doacao span{
    margin: 0 auto 14px auto;
}

.doacao-valores{
   margin-top: 40px;
   margin-bottom: 40px;
   display: flex;
   gap: 20px;
   align-items: flex-start;
}

.doacao-valores p{
    font-weight: 600;
}


.doacao h3{
    text-align: center;
    margin-bottom: 24px;
}

.doacao-conteudo p{
    margin-bottom: 48px;
}


.ondas{
    position: absolute;
    bottom: -110px;
    left: -160px;
}

.ondas1{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

@media (max-width: 1200px){
    .ondas{
        display: none;
    }
    
    .ondas1{
        display: none;
    }
}

@media (max-width: 800px){

    .doacao{
        padding-top: 60px;
        padding-bottom: 60px;
     }

    .doacao h2{
        font-size: 28px;
        margin-bottom: 14px;
    }
    
    .doacao p{
        font-size: 14px;

    }

    .doacao-valores span{
        font-size: 14px;
    }

    .doacao-valores{
        margin-top: 20px;
        margin-bottom: 20px;
     }

     .doacao h3{
        font-size: 26px;
        margin-bottom: 24px;
    }

}

@media (max-width: 550px){
    .doacao-valores{
        align-items: center;
     }
}

