.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 120px;
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.introducao-conteudo{
    align-self: start;
    padding-top: 160px;
}

.introducao-conteudo .conteudo-detalhe{
    margin-bottom: 20px;
}

.introducao-conteudo h1{
    margin-bottom: 24px;
}

.introducao-conteudo span{
    margin-bottom: 14px;
    background: var(--cor-1);
    height: 3px;
    width: 60px;
    border-radius: 48px;
}

.introducao-conteudo p{
    margin-bottom: 40px;
}

.introducao-imagens{
    padding-top: 120px;
    align-self: start;
    position: relative;
    border-radius: 48px;
}

.introducao-imagens img{
    border-radius: 48px;
}

.introducao-imagens .imagem-secundaria{
    position: absolute;
    top: 420px;
    left: 320px;

}

.introducao-imagens span{
    position: absolute;
    top: 200px;
    left: -38px;
}


@media (max-width: 1200px){
    .introducao-imagens span{
        display: none;
    }

    .introducao-imagens .imagem-secundaria{
        display: none;
    }

    .introducao{
        gap: 0px 60px;
    }
}

@media (max-width: 1000px){

    .introducao{
        gap: 0px 40px;
    }

    .introducao-conteudo h1{
        font-size: 24px;
        margin-bottom: 14px;
    }

    .introducao-conteudo .conteudo-detalhe{
        font-size: 14px;
        margin-bottom: 12px;
    }

    .introducao-conteudo p{
        font-size: 12px;
        margin-bottom: 20px;
    }
}

@media (max-width: 700px){
    .introducao{
        grid-template-columns: 1fr;
    }

    .introducao-conteudo{
        padding-top: 40px;
    }

    .introducao-imagens{
        padding-top: 40px;
    }
    
    /*
    .introducao-imagens img{
        height: 200px;
        width: 100%;
        
    }
    */
    
}